.m-header {
    background-color: #fafbfc;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d7dae2;
}

.m-header-title {
    display: flex;
    align-items: center;

    margin: 0;

    .u-logo {
        .size(48px);
        * {
            fill: @black;
        }
        margin-right: 10px;
    }
    .u-title {
        color: @black;
        font-family: "Consolas";
    }
}

.m-header-version {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.m-header-meta {
    padding-right: 10px;
    display: flex;
    align-items: center;
    a {
        margin-left: 20px;
        letter-spacing: 0.5px;
        .fz(14px);
        // &::before {
        //     content: "[";
        // }
        // &::after {
        //     content: "]";
        // }
        display: flex;
        align-items: center;
    }
    img {
        .size(20px);
        .mr(5px);
    }
}
