.p-v1 {
    display: flex;
    justify-content: space-between;
}
.m-left {
    flex: 1;
    padding: 10px;
}
.m-right {
    flex: 1;
}
// .m-file-info {
// border-bottom: none;
// }
.m-file-display {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}
