.p-v1 {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 80px);
    overflow: auto;
}
.m-left {
    flex: 1;
    padding: 20px;
    // align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}
.m-right {
    flex: 1;
    border-left: 1px dashed #eee;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.m-output {
    flex-shrink: 1;
    overflow: hidden;
    .el-tabs__content {
        overflow: scroll;
        position: relative;
        box-sizing: border-box;
        height: calc(100% - 39px);
    }
}
